@model List<BE.Product>

@* <form asp-action="Index" asp-controler="Product" asp-area="Admin" method="get">

    <div class="row">
        <div class="col-4">
            <input type="text" name="filter" class="form-control" />
        </div>
        <div class="col-4">
            <input type="submit" class="bg-blue-700 hover:bg-blue-600 transition text-white rounded-lg w-full h-full px-6" value="بیاب" />
            <a asp-action="Index" asp-controler="Product" asp-area="Admin" class="bg-blue-700 hover:bg-blue-600 transition text-white rounded-lg w-full h-full px-6">نمایش همه</a>
        </div>
    </div>
</form> *@



<div class="text-zinc-800 text-lg mb-4">

   لیست محصولات:
</div>
<a asp-action="Create" asp-area="Admin" asp-controller="Product" class="text-zinc-50 hover:text-zinc-100 transition bg-red-400 hover:bg-red-500 px-2 py-1 text-xs rounded-lg">
    درج محصول
</a>
<br/>

    <form asp-action="Index" asp-controler="Product" asp-area="Admin" method="get">

    <input class=" border-2 border-blue-400 outline-none text-sm rounded-lg py-2 px-2 m-5" type="text" name="filter" style="margin-top: 10px;    margin-bottom: 10px;    width: 50%;" placeholder="نام محصول خود را وارد کنید">
    <div>
            <input type="submit" class="bg-blue-700 hover:bg-blue-600 transition text-white rounded-lg  h-full px-6" value="بیاب" />
            <a asp-action="Index" asp-controler="Product" asp-area="Admin" class="bg-blue-700 hover:bg-blue-600 transition text-white rounded-lg h-full px-6">نمایش همه</a>

            @*  <button class="bg-blue-700 hover:bg-blue-600 transition text-white rounded-lg w-full h-full px-6" type="submit">
            ارسال
        </button> *@
    </div>
    </form>


<table class="w-full">
    <thead>
        <tr class="border-y">
            <th>
                <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                    تصویر
                </p>
            </th>
            <th>
                <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400 py-3">
نام
</p>
            </th>
            <th>
                <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                    قیمت
                </p>
            </th>
            <th>
                <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                    تعداد استوک
                </p>
            </th>
            <th>
                <p class="text-xs md:text-sm font-normal flex items-center text-zinc-400">
                    وضعیت
                </p>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            <tr class="hover:bg-zinc-100 text-xs md:text-sm">
                <td class="px-3 py-4 border-b">
                    <p class="text-zinc-700">
                       <img src="/Images/Product/@item.pic" style="height:150px;width:150px" />
                    </p>
                </td>
            <td class="px-3 py-4 border-b">
                <p class="text-zinc-700">
                  @item.Name
                </p>
            </td>
            <td class="p-3 border-b">
                <p class="text-zinc-700">
                    @item.Price
                </p>
            </td>
            <td class="p-3 border-b">
                <p class="text-zinc-700">
                   @item.QuantityinStock
                </p>
            </td>
            <td class="p-3 border-b">
                <p class="text-yellow-500">
                        <a asp-action="Edit" asp-area="Admin" asp-controller="Product" asp-route-id="@item.ProductId" class="text-zinc-50 hover:text-zinc-100 transition bg-red-400 hover:bg-red-500 px-2 py-1 text-xs rounded-lg">
                            ویرایش
                        </a>
                        
                        <a asp-action="Delete" asp-area="Admin" asp-controller="Product" asp-route-id="@item.ProductId" class="text-zinc-50 hover:text-zinc-100 transition bg-red-400 hover:bg-red-500 px-2 py-1 text-xs rounded-lg">
                            حذف
                        </a>
                      
                </p>
            </td>
        </tr>
        }
        
      
    </tbody>
</table>